@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&display=swap');
@import 'react-checkbox-tree/lib/react-checkbox-tree.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@100;200&display=swap');

@font-face{
  font-family: "mazius";
  src:url(../public/fonts/Mazius\ Display\ Extraitalic.otf);
}
:root {
  --total-time: 10s;
  --y2006-delay: calc(var(--total-time) / 10);
  --y2006-time: calc(var(--total-time) / 9);

  --letter2006-delay: calc(var(--total-time) / 10);
  --letter2006-time: calc(var(--total-time) / 10);
  --letter2015-delay: calc(var(--total-time) / 5.2);
  --letter2015-time: calc(var(--total-time) / 5.2);
  --letter2017-delay: calc(var(--total-time) / 4.2);
  --letter2017-time: calc(var(--total-time) / 4.2);
  --letter2019-delay: calc(var(--total-time) / 4.2);
  --letter2019-time: calc(var(--total-time) / 4.2);

  --tri2006-delay: calc(var(--total-time) / 5);
  --tri2006-time: calc(var(--total-time) / 5);
  --tri2015-delay: calc(var(--total-time) / 3);
  --tri2015-time: calc(var(--total-time) / 3);
  --tri2017-delay: calc(var(--total-time) / 2.5);
  --tri2017-time: calc(var(--total-time) / 2.5);
  --tri2019-delay: calc(var(--total-time) / 2.1);
  --tri2019-time: calc(var(--total-time) / 2.1);

  --pschool-time: calc(var(--total-time) / 6);
  --pschool-delay: calc(var(--total-time) / 6);
  --y2015-time: calc(var(--total-time) / 4);
  --y2015-delay: calc(var(--total-time) / 4);
  --under-delay: calc(var(--total-time) / 1.5);
  --under-time: calc(var(--total-time) / 3.75);
}
#cool{
    fill:none;
    
  }
  textPath{
    font-size:37px;
    font-family: 'Fredoka One', cursive;
    fill:#992ac2;
  }

  .selected {
    background-color: gold;
    color:Black ;
    font-weight:bold;
}


